# Java
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Maven/Gradle 
.mvn/
.mvnd/
**/.gradle/
**/build/

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.zip
*.tar.gz
*.rar

# IDEs & Editors
.idea/
.vscode/
*.iml

# Operating System
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
dist/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
